body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4ccf0
}

.risckText {
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-color: black;
}

.checkbox {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 20px;
    border: none;
    top: 0%;
    right: 90%;
}


