body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4ccf0
}



.titulo{
    width: 750px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;  
}

h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 1.8;
}

.container {
    width: 750px;
    height: auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    width: 750px;
    color: #9c5bba;
}
.forms {

    width: 550px;
    height: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.forms-edit {

    width: 550px;
    height: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.forms-edit input{
    width: 270px;
    height: 45px; 
    border: 2px solid #9c5bba;
    font-size: 1.2em;
    margin-left: 80px;
    margin-top: 15px;
}
.forms-edit input:disabled{
    background-color: blue;
}

.forms input{
    width: 500px;
    height: 45px; 
    border: 2px solid #9c5bba;
    font-size: 1.2em;
} 


.tasks{
    position: relative;
    min-width: 550px;
    width: auto;
    min-height: 70px;
    height: auto;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 35px;
    
}

.p{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #9c5bba;
    font-size: 1.3em;
}

.risckText{
    text-decoration: line-through;
    text-decoration-style: solid ;
    text-decoration-color:black;
}



.checkbox{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 20px;
    border: none;
    top: 0%;
    right: 90%;
}

.tasks{
    position: relative;
    min-width: 550px;
    width: auto;
    min-height: 70px;
    height: auto;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 35px;
}